<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }}</title>

  <!-- CSS  -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <meta name="google-site-verification" content="uBSWfP9rvZ5k1vJLuItXZtA8CxRjM1dpCwuPM5ekBMU" />
  <meta name="msvalidate.01" content="229FBDF9FE2F1A36CEDFAB9F171C6A4E" />

  <!-- General Meta tags for SEO -->
	<meta name="language" content="English">
	<meta name="title" content="{{ title }}"/>
	<meta name="author" content="MarioCube"/>
	<meta name="copyright" content="&copy; MarioCube"/>
	<meta name="robots" content="index, follow"/>
	<meta name="subject" content="Wii &amp; GameCube Modding">
	<meta name="keywords" content="Nintendo, Larsenv, AwesomeMarioFan, Wii, GameCube">
	<meta name="description" content="The premier repository of rare Wii and GameCube files!">
	<meta name="classification" content="MarioCube is a repository focused on preserving rare files, primarily for the Wii and GameCube.">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
</head>
