<nav class="blue" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><img src="/images/MarioCube.svg" height="48" style="margin-top: 8px" alt="MarioCube"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://goo.gl/CUnSaQ">View Repository</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="https://goo.gl/CUnSaQ">View Repository</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
